html, body {
    margin: 0;
    height: 100%;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
}

.flex-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/*нужно ли*/
.add-todo-wrapper {
    display: flex;
    width: 500px;
    min-height:40px;
    align-items: center;
    background-color: darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
}

.button-wrapper{
    width: 80%;
    background-color: springgreen;
    color: white;
    outline: none;
    height: 25px;
    cursor: pointer;
}

.todo-item{
    display: flex;
    width: 500px;
    min-width: 50px;
    border:1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding:10px;
    background-color: orange;
}